n8n-workflows/02-ready-signal-alert.json
{
  "name": "JobFilter — READY Signal Alert",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */2 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Fetch Start Signals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/start-signals/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "postcode": "SW1A 1AA",
          "trade": "plumbing",
          "radiusMiles": 10
        },
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Extract READY Signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nif (!data.ok || !data.leads || data.leads.length === 0) {\n  return [{ json: { hasReady: false, readyCount: 0, leads: [], html: '' } }];\n}\n\nconst readyLeads = data.leads\n  .filter(l => l.readiness === 'READY')\n  .sort((a, b) => (b.score || 0) - (a.score || 0));\n\nif (readyLeads.length === 0) {\n  return [{ json: { hasReady: false, readyCount: 0, leads: [], html: '' } }];\n}\n\nconst renderSignal = (l) => `\n<div style=\"border:2px solid #16a34a;border-radius:8px;padding:12px;margin:8px 0;background:#f0fdf4\">\n  <strong style=\"font-size:16px\">${l.title || 'Signal'}</strong>\n  <p style=\"margin:4px 0;color:#374151\">${l.whyNow || ''}</p>\n  <p style=\"margin:4px 0\">\n    <span style=\"background:#16a34a;color:white;padding:2px 8px;border-radius:4px;font-size:12px\">READY</span>\n    Score: <strong>${l.score}</strong> &nbsp; Trade: ${l.trade} &nbsp; Location: ${l.location || l.postcodeOutward || ''}\n  </p>\n  <p style=\"margin:4px 0;font-size:13px;color:#6b7280\">Evidence: ${(l.evidenceBadges || []).join(' · ')}</p>\n  <p style=\"margin:4px 0;font-size:13px\"><strong>Action:</strong> ${l.recommendedAction || ''}</p>\n  ${l.url ? `<p style=\"margin:4px 0\"><a href=\"${l.url}\">View source</a></p>` : ''}\n</div>`;\n\nconst html = `\n<h2 style=\"color:#16a34a\">${readyLeads.length} READY Signal${readyLeads.length > 1 ? 's' : ''} — Act now</h2>\n<p style=\"color:#6b7280\">${new Date().toLocaleString('en-GB')}</p>\n${readyLeads.map(renderSignal).join('')}\n<p style=\"color:#6b7280;font-size:12px\">Region: ${data.region} · Sources: ${(data.sources || []).join(', ')}</p>`;\n\nreturn [{ json: { hasReady: true, readyCount: readyLeads.length, leads: readyLeads, html } }];"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Has READY Signals?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.hasReady }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1120, 200],
      "parameters": {
        "fromEmail": "jobfilter@yourdomain.com",
        "toEmail": "you@youremail.com",
        "subject": "={{ $json.readyCount }} READY Lead{{ $json.readyCount > 1 ? 's' : '' }} — JobFilter",
        "emailType": "html",
        "html": "={{ $json.html }}"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "No Action",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1120, 420],
      "parameters": {}
    }
  ],
  "connections": {
    "Every 2 Hours": {
      "main": [[{ "node": "Fetch Start Signals", "type": "main", "index": 0 }]]
    },
    "Fetch Start Signals": {
      "main": [[{ "node": "Extract READY Signals", "type": "main", "index": 0 }]]
    },
    "Extract READY Signals": {
      "main": [[{ "node": "Has READY Signals?", "type": "main", "index": 0 }]]
    },
    "Has READY Signals?": {
      "main": [
        [{ "node": "Send Alert Email", "type": "main", "index": 0 }],
        [{ "node": "No Action", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "saveManualExecutions": true },
  "_readme": {
    "description": "Polls every 2h for READY start signals. Only fires email when at least one READY signal exists.",
    "configure": [
      "Fetch Start Signals > body.postcode — your UK postcode",
      "Fetch Start Signals > body.trade — trade type",
      "Fetch Start Signals > body.radiusMiles — search radius",
      "Fetch Start Signals > url — your deployed server URL",
      "Send Alert Email — add SMTP credential, set fromEmail/toEmail",
      "Swap Send Alert Email for Telegram/Slack node for push notifications"
    ],
    "note": "start-signals uses paid tier. Set FULL_ACCESS_TEST_MODE=true locally to test."
  }
}
