n8n-workflows/06-outcome-logger.json
{
  "name": "JobFilter — 06 Outcome Logger",
  "nodes": [
    {
      "id": "06bbbbbb-0006-0006-0006-000000000001",
      "name": "Webhook Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "jobfilter-outcome",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "06bbbbbb-0006-0006-0006-000000000002",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const b = $input.first().json.body || $input.first().json;\nconst allowed = new Set(['won','lost','too_early','not_real','real_but_uncontactable','ignored']);\nconst status = String(b.status || '').toLowerCase();\nconst signalId = String(b.signalId || b.id || '').trim();\nif (!signalId || !allowed.has(status)) {\n  throw new Error('signalId + status required; status must be ' + [...allowed].join(','));\n}\nreturn [{ json: { ok: true, signalId, status, note: b.note || '', source: b.source || 'webhook' } }];"
      }
    },
    {
      "id": "06bbbbbb-0006-0006-0006-000000000003",
      "name": "POST Feedback to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:3000/api/start-signals/{{ $json.signalId }}/feedback",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true,
        "contentType": "json",
        "body": { "status": "={{ $json.status }}" },
        "options": { "timeout": 15000 }
      },
      "continueOnFail": true
    },
    {
      "id": "06bbbbbb-0006-0006-0006-000000000004",
      "name": "Write Outcome to Vault",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst vaultPath = 'C:/Users/manaz/Desktop/JobFilter/JobFilterV1/Obsidian_Memory/Obsidian_Vault';\nconst val = $('Validate Payload').item.json;\nconst apiRes = $input.first().json;\nconst now = new Date();\nconst slug = String(val.signalId).toLowerCase().replace(/[^a-z0-9]+/g,'-');\nconst dir = path.join(vaultPath, 'JobFilter', 'Outcomes');\nfs.mkdirSync(dir, { recursive: true });\nconst file = path.join(dir, slug + '.md');\nconst md = `---\\ntype: outcome\\nsignal_id: ${val.signalId}\\nstatus: ${val.status}\\nlogged_at: ${now.toISOString()}\\nsource: ${val.source}\\ntags: [jobfilter, outcome, ${val.status}]\\n---\\n\\n# Outcome — ${val.signalId}\\n\\n**Status:** ${val.status}\\n**Logged:** ${now.toISOString()}\\n\\n## Note\\n${val.note || '_none_'}\\n\\n## API response\\n\\n\\`\\`\\`json\\n${JSON.stringify(apiRes, null, 2)}\\n\\`\\`\\`\\n`;\nfs.writeFileSync(file, md);\nreturn [{ json: { ok: true, signalId: val.signalId, status: val.status, file } }];"
      }
    },
    {
      "id": "06bbbbbb-0006-0006-0006-000000000005",
      "name": "Log Run via Vault Writer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1120, 300],
      "parameters": {
        "source": "parameter",
        "workflowId": "KPPRqOtDhPJhe7Kc",
        "workflowInputs": {
          "values": [
            { "name": "agent", "value": "outcome-logger" },
            { "name": "trigger", "value": "webhook" },
            { "name": "status", "value": "success" },
            { "name": "summary", "value": "={{ 'Outcome ' + $('Validate Payload').item.json.status + ' logged for ' + $('Validate Payload').item.json.signalId }}" },
            { "name": "payload", "value": "={{ { signalId: $('Validate Payload').item.json.signalId, status: $('Validate Payload').item.json.status, outcomeFile: $json.file } }}" }
          ]
        }
      }
    },
    {
      "id": "06bbbbbb-0006-0006-0006-000000000006",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, signalId: $('Validate Payload').item.json.signalId, status: $('Validate Payload').item.json.status } }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Inbound": { "main": [[{ "node": "Validate Payload", "type": "main", "index": 0 }]] },
    "Validate Payload": { "main": [[{ "node": "POST Feedback to API", "type": "main", "index": 0 }]] },
    "POST Feedback to API": { "main": [[{ "node": "Write Outcome to Vault", "type": "main", "index": 0 }]] },
    "Write Outcome to Vault": { "main": [[{ "node": "Log Run via Vault Writer", "type": "main", "index": 0 }]] },
    "Log Run via Vault Writer": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "saveManualExecutions": true },
  "_readme": {
    "description": "POST /webhook/jobfilter-outcome { signalId, status, note? } → forwards to /api/start-signals/:id/feedback → writes JobFilter/Outcomes/<id>.md → logs via 04."
  }
}
